#main-wrapper {
  margin-bottom: 70px;
  z-index: var(--base);
}

.container {
  max-width: 100%;
  padding-left: 15px;
}

#main-content {
  float: left;
  width: 75%;
}

.category-header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;

  h2 {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 600;
    padding: 0;
    margin: 0;
    color: var(--secondary);
  }
}

.content {
  display: flex;
  flex-wrap: wrap;

  app-anime-list-item {
    margin: .7rem .5rem;
    width: calc(20% - 1rem);

    &:nth-child(-n+4) {
      width: calc(25% - 1rem);
    }
  }
}