<div id="main-wrapper" class="layout-page">
  @if (anime) {
    <div class="container">
      <div class="cover-wrap">
        <div class="cover" [ngStyle]="{ 'background-image': 'url(' + anime.images.jpg.large_image_url + ')' }"></div>
      </div>
      <div class="content">   
        <img [src]="anime.images.jpg.image_url" [alt]="anime.title" class="poster">
        <div class="details">
          <div class="prebreadcrumb">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a class="nav-link" href="home">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a class="nav-link" [href]="anime.type | lowercase">{{ anime.type }}</a>
                </li>
                <li class="breadcrumb-item title">
                  {{ anime.title }}
                </li>
              </ol>
            </nav>
          </div>
          <h2 class="film-name">{{ anime.title }}</h2>
          <div class="stats">
            <div class="tick">
              <div class="tick-item tick-pg">
                {{ textBuilder.getRatingIdentifier(anime.rating) }}
              </div>
              <div class="tick-item tick-eps">
                {{ anime.episodes || '?' }}
              </div>
              <span class="dot"></span>
              <span class="item">{{ anime.type }}</span>
              <span class="dot"></span>
              <span class="item">{{ textBuilder.getDurationInMinutes(anime.duration) }}</span>
            </div>
          </div>
          <div class="buttons">
            <a [href]="'watch' + routeHelper.getSlugRoute(anime)">
              <fa-icon class="pr-03" [icon]="iplay"></fa-icon> Watch now
            </a>
          </div>
          <div class="description">
            <div class="text">
              @if (shortDescription) {
                {{ textBuilder.shortenDescription(anime.synopsis, 300) }}
                <span class="btn-more" (click)="toggleDescription()">+ More</span>
              } @else {
                {{ anime.synopsis }}
                <span class="btn-more" (click)="toggleDescription()">- Less</span>
              }
            </div>
          </div>
        </div>
        <div class="info-wrap">
          <div class="info">
            <div class="item">
              <span class="label">Japanese: </span>
              <span class="value">{{ anime.title_japanese }}</span>
            </div>
            @if (anime.title_synonyms.length !== 0) {
              <div class="item">
                <span class="label">Synonyms: </span>
                <span class="value">{{ anime.title_synonyms[0] }}</span>
              </div>
            }
            <div class="item">
              <span class="label">Aired: </span>
              <span class="value">
                @let from = textBuilder.formatDate(anime.aired.from);
                @let to = textBuilder.formatDate(anime.aired.to);
                @if (from < to) {
                  {{ from + ' to ' + to }}
                } @else {
                  {{ from }}
                }
              </span>
            </div>
            <div class="item">
              <span class="label">Premiered: </span>
              <span class="value">{{ anime.season | titlecase }} {{ anime.year }}</span>
            </div>
            <div class="item">
              <span class="label">Duration: </span>
              <span class="value">{{ textBuilder.getDurationInMinutes(anime.duration) }}</span>
            </div>
            <div class="item">
              <span class="label">Status: </span>
              <span class="value">{{ anime.status }}</span>
            </div>
            <div class="item">
              <span class="label">MAL Score: </span>
              <span class="value">{{ anime.score || 'N/a' }}</span>
            </div>
            <div class="item item-bordered">
              <span class="label">Genres: </span>
              @for (item of anime.genres; track $index) {
                <a class="nav-link" href="#" [title]="item.name">{{ item.name }}</a>
              }
            </div>
            <div class="item">
              <span class="label">Studios: </span>
              @for (item of anime.studios; track $index) {
                @if ($last) {
                  <a class="nav-link" href="#">{{ item.name }}</a>
                } @else {
                  <a class="nav-link" href="#">{{ item.name }}</a>,
                }
              }
            </div>
            <div class="item">
              <span class="label">Producers: </span>
              @for (item of anime.producers; track $index) {
                @if ($last) {
                  <a class="nav-link" href="#">{{ item.name }}</a>
                } @else {
                  <a class="nav-link" href="#">{{ item.name }}</a>,
                }
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>