<div class="user-layout">
  <div class="profile-header">
    <div class="profile-header-cover"></div>
    <div class="pl-1 pr-1">
      <div class="title">Hi, Hachiq</div>
      <div class="tabs">
        <ul class="list-unstyled profile-tabs">
          <li class="nav-item"><a class="nav-link" routerLink="profile">Profile</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="continue-watching">Continue Watching</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="watch-list">Watch List</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="notification">Notifications</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="settings">Settings</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="profile-content">
    <router-outlet></router-outlet>
  </div>
</div>