<div [class.active]="isSidebarOpen" class="sidebar fw-6" id="sidebar" [attr.aria-expanded]="isSidebarOpen">
  <div class="sidebar-header">
    <button class="close-btn fs-5" (click)="toggleSidebar()">
      <fa-icon [icon]="angleLeft"></fa-icon> Close menu
    </button>
  </div>
  <div class="community-button">
    <a href="https://hianime.to/community/board" class="btn btn-community"><fa-icon class="pr-05" [icon]="comment"></fa-icon>Community</a>
  </div>
  <ul class="list-unstyled">
    <li>
      <a class="nav-link" href="home">Home</a>
    </li>
    <li>
      <a class="nav-link" href="subbed-anime">Subbed Anime</a>
    </li>
    <li>
      <a class="nav-link" href="dubbed-anime">Dubbed Anime</a>
    </li>
    <li>
      <a class="nav-link" href="most-popular">Most Popular</a>
    </li>
    <li>
      <a class="nav-link" href="movie">Movies</a>
    </li>
    <li>
      <a class="nav-link" href="tv">TV Series</a>
    </li>
    <li>
      <a class="nav-link" href="ova">OVAs</a>
    </li>
    <li>
      <a class="nav-link" href="ona">ONAs</a>
    </li>
    <li>
      <a class="nav-link" href="special">Specials</a>
    </li>
  </ul>
</div>

<div [class.show]="isSidebarOpen" class="sidebar-backdrop" (click)="close()" [attr.aria-hidden]="!isSidebarOpen"></div>