.container {
  position: relative;
  user-select: none;

  video {
    width: 100%;
    height: auto;
  }

  .controls {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    bottom: 0;
    padding: 1.5rem 1rem;

    .progress-container {
      display: flex;
      height: 20px;
      align-items: center;
      width: 100%;
      margin-bottom: .6rem;
      background: none;
      cursor: pointer;

      .video-timeline {
        display: flex;
        height: 4px;
        width: 100%;
        background-color: rgba(255, 255, 255, .2);
        transition: height .2s;
  
        .progress {
          position: relative;
          background-color:cornflowerblue;
          pointer-events: none;
  
          &::before {
            content: "";
            right: 0;
            top: 50%;
            height: 13px;
            width: 13px;
            position: absolute;
            border-radius: 50%;
            background: #2289ff;
            transform: translate(50%, -50%);
            opacity: 0;
            transition: opacity .1s;
          }
        }

        .show-scrubber {
          &::before {
            opacity: 1;
          }
        }
      }

      &:hover {
        .video-timeline {
          height: 6px;

          .progress::before {
            opacity: 1;
          }
        }
      }
    }

    .controls-container {
      display: flex;
      padding: 0 1rem;

      .controls-group {
        display: flex;
        align-items: center;
        gap: 1rem;

        .control-item {
          opacity: .8;

          &:hover {
            opacity: 1;
            cursor: pointer;
          }
        }
      }
    }
  }
}

#play-button {
  min-width: 14px;
}

#timer {
  user-select: none;
  font-size: 14px;
  opacity: 1;
}

#separator {
  font-size: 16px;
  font-weight: 600;
  padding: 0 .2rem;
  font-family: Open sans;
}