<div class="container">
  <video #videoPlayer (click)="togglePlayButton()">
    <source [src]="VIDEO.default" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="controls">
    <div #progressContainer class="progress-container" (click)="seek($event)" (mousedown)="startDragging($event)">
      <div class="video-timeline">
        <span class="progress" [ngClass]="{'show-scrubber': isDragging}" [ngStyle]="{'width.%': progress}">
        </span>
      </div>
    </div>
    <div class="controls-container">
      <div class="controls-group">
        <span class="control-item" id="play-button" (click)="togglePlayButton()">
          @if (isPlaying) {
          <fa-icon [icon]="ipause"></fa-icon>
          } @else {
          <fa-icon [icon]="iplay"></fa-icon>
          }
        </span>
        <span class="control-item">
          <fa-icon [icon]="ivolumemute"></fa-icon>
        </span>
        <span id="timer">
          {{ currentTime | time }}
          <span id="separator">/</span>
          {{ duration | time }}
        </span>
      </div>
      <div class="controls-group ml-auto">
        <span class="control-item" (click)="goBackward()">
          <fa-icon [icon]="ibackward"></fa-icon>
        </span>
        <span class="control-item" (click)="goForward()">
          <fa-icon [icon]="iforward"></fa-icon>
        </span>
        <span class="control-item">
          <fa-icon [icon]="isettings"></fa-icon>
        </span>
        <span class="control-item">
          <fa-icon [icon]="iexpand"></fa-icon>
        </span>
      </div>
    </div>
  </div>
</div>