<div class="container">
  <video #videoPlayer
          (click)="togglePlayButton()"
          (loadedmetadata)="setDuration()"
          (play)="onPlay()"
          (pause)="onPause()"
          (seeked)="onSeeked()"
          [ngClass]="{'no-events': showSettings}">
    <source [src]="VIDEO.default" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="controls">
    @if (showSettings) {
      <div class="settings">
        <div class="settings-item">
          <span class="icon"><fa-icon [icon]="isubtitles"></fa-icon></span>
          <span class="label">Subtitles</span>
          <span class="value">Off</span>
          <span class="arrow"><fa-icon [icon]="iright"></fa-icon></span>
        </div>
        <div class="settings-item">
          <span class="icon"><fa-icon [icon]="ispeed"></fa-icon></span>
          <span class="label">Play speed</span>
          <span class="value">Usual</span>
          <span class="arrow"><fa-icon [icon]="iright"></fa-icon></span>
        </div>
      </div>
    }
    <div #progressContainer class="progress-container" (click)="seek($event)" (mousedown)="startDragging($event)">
      <div class="video-timeline">
        <span class="progress"
              [ngClass]="{'show-scrubber': isDragging}"
              [ngStyle]="{'width.%': progress}">
        </span>
      </div>
    </div>
    <div class="controls-container">
      <div class="controls-group">
        <span class="control-item" id="play-button" (click)="togglePlayButton()">
          @if (isPlaying) {
            <fa-icon [icon]="ipause"></fa-icon>
          } @else {
            <fa-icon [icon]="iplay"></fa-icon>
          }
        </span>
        <span class="control-item" id="volume-button">
          <span class="icon" (click)="toggleVolumeButton()">
            @if (volume >= 0.5) {
              <fa-icon [icon]="ivolumehigh"></fa-icon>
            } @else if (volume < 0.5 && volume > 0) {
              <fa-icon [icon]="ivolumelow"></fa-icon>
            } @else {
              <fa-icon [icon]="ivolumemute"></fa-icon>
            }
          </span>
          <input
            type="range"
            min="0"
            max="1"
            step="0.01"
            [value]="volume"
            (input)="onVolumeChange($event)"/>
        </span>
        <span id="timer">
          {{ currentTime | time }}
          <span id="separator">/</span>
          {{ duration | time }}
        </span>
      </div>
      <div class="controls-group ml-auto">
        <span class="control-item" (click)="goBackward()">
          <fa-icon [icon]="ibackward"></fa-icon>
        </span>
        <span class="control-item" (click)="goForward()">
          <fa-icon [icon]="iforward"></fa-icon>
        </span>
        <span class="control-item" (click)="toggleSettings($event)">
          <fa-icon [icon]="isettings"></fa-icon>
        </span>
        @defer (on immediate) {
          <span class="control-item" (click)="toggleFullscreen()">
            @if (isFullscreen()) {
              <fa-icon [icon]="icollapse"></fa-icon>
            } @else {
              <fa-icon [icon]="iexpand"></fa-icon>
            }
          </span>
        }
      </div>
    </div>
  </div>
</div>