<nav class="main-header fs-6">
  <div class="nav-item">
    <button class="btn-empty" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon fs-9">
        <fa-icon [icon]="bars"></fa-icon>
      </span>
    </button>
  </div>

  <div class="nav-item">
    <div class="logo fs-9">
      <a class="nav-link link-static" href="/">
        Sh<span class="highlight">i</span>goto
      </a>
    </div>
  </div>

  <div *ngIf="!isAuthenticated" class="nav-item ml-auto">
    <a class="nav-link" (click)="openLoginModal()">Login</a>
  </div>
  <div *ngIf="isAuthenticated" class="nav-item ml-auto">
    <a class="nav-link" (click)="logout()">Logout</a>
  </div>
</nav>