@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.logo {
    font-family: "Calistoga", serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 10px;
}
