<nav class="main-header fs-6">
  <div class="nav-item">
    <button class="btn-empty" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon fs-9">
        <fa-icon [icon]="bars"></fa-icon>
      </span>
    </button>
  </div>

  <div class="nav-item">
    <div class="logo fs-9">
      <a class="nav-link link-static" href="/">
        Sh<span class="highlight">i</span>goto
      </a>
    </div>
  </div>

  <div *ngIf="!isAuthenticated" class="nav-item ml-auto mr-1">
    <a class="nav-link" (click)="openLoginModal()">Login</a>
  </div>
  <div *ngIf="isAuthenticated && user" class="nav-item ml-auto mr-1 dropdown"> 
    <a class="nav-link" (click)="toggleDropdown($event)">{{ user.name }}</a>
    <div [class.show]="dropdownVisible" class="dropdown-menu">
      <div class="dropdown-item user">
        <div class="name">{{ user.name }}</div>
        <div class="email">{{ user.email }}</div>
      </div>
      <div class="grid-menu">
        <a href="user/profile" class="dropdown-item"><fa-icon class="pr-07" [icon]="iuser"></fa-icon> Profile</a>
        <a href="user/continue-watching" class="dropdown-item"><fa-icon class="pr-07" [icon]="ihistory"></fa-icon> Continue Watching</a>
        <a href="user/watch-list" class="dropdown-item"><fa-icon class="pr-07" [icon]="iheart"></fa-icon> Watch List</a>
        <a href="user/notification" class="dropdown-item"><fa-icon class="pr-07" [icon]="ibell"></fa-icon> Notification</a>
        <a href="user/settings" class="dropdown-item"><fa-icon class="pr-07" [icon]="icog"></fa-icon> Settings</a>
      </div>
      <a class="dropdown-item logout" (click)="logout()">Logout <fa-icon class="pl-03" [icon]="iarrowRight"></fa-icon></a>
    </div>
  </div>
</nav>

<app-sidebar></app-sidebar>