@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

.logo {
    font-family: "Calistoga", serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: 5px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: var(--light-grey-transparent);
    transition: all 0.3s ease;
    z-index: 2000;
    backdrop-filter: blur(10px);
}

.sidebar.active {
    left: 0;
}

.sidebar-header {
    border-bottom: 1px solid #444;
}

.close-btn {
    color: var(--text);
    background: none;
    border: none;
    cursor: pointer;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-unstyled li {
    padding: 25px 20px 25px 20px;
    border-bottom: 1px solid var(--light-grey);
}

.btn-community {
    background-color: #6c5ce7;
    color: var(--text);
    border-radius: 30px;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}