.bars-container:hover {
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #2e2e48;
    padding-top: 60px;
    transition: all 0.3s ease;
    z-index: 2000;
}

.sidebar.active {
    left: 0;
}

.sidebar-header {
    padding: 10px 15px;
    background-color: #2e2e48;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid #444;
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.list-unstyled {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.list-unstyled li {
    padding: 15px;
    border-bottom: 1px solid #444;
}

.btn-community {
    background-color: #6c5ce7;
    color: #fff;
    border-radius: 30px;
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}