<div class="modal-content">
  <div class="tab-content">
    <div class="modal-header">
      <h5 class="modal-title fs-7">Welcome back</h5>
      <button type="button" class="btn-empty close" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="modal-form">
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="Your username" [formControl]="username">
        </div>
        <div class="input-group">
          <label for="passowrd">Password</label>
          <input type="password" id="password" placeholder="Password" [formControl]="password">
        </div>
        <div class="options">
          <div class="custom-checkbox">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
          </div>
          <a href="#" class="link-active">Forgot password?</a>
        </div>
      </form>
      <button class="btn-empty submit-btn" (click)="login()">Login</button>
    </div>
    <div class="modal-footer">
      Don't have an account?
      <a class="link-active pl-03 pr-03" href="#">Register</a>
      or
      <a class="link-active pl-03 pr-03" href="#">Verify</a>
    </div>
  </div>
</div>