<div class="modal {{ size }}">
  <div class="tab-content">
    <div class="modal-header">
      <h5 class="modal-title fs-7">Welcome back</h5>
      <button type="button" class="btn-empty close" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="loginForm" (ngSubmit)="login()" class="modal-form">
        <div class="input-group">
          <label for="username">Username</label>
          <input type="text" id="username" placeholder="Your username" formControlName="username">
          <div class="input-error"
                *ngIf="loginForm.invalid && loginForm.touched">
            <span *ngIf="loginForm.hasError(VALIDATORS.InvalidCredentials)">
              {{ INPUT_ERRORS.InvalidCredentials }}
            </span>
          </div>
        </div>
        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Password" formControlName="password">
          <div class="input-error"
                *ngIf="loginForm.invalid && loginForm.touched">
            <span *ngIf="loginForm.hasError(VALIDATORS.InvalidCredentials)">
              {{ INPUT_ERRORS.InvalidCredentials }}
            </span>
          </div>
        </div>
        <div class="options">
          <div class="custom-checkbox">
            <input type="checkbox" id="remember-me">
            <label for="remember-me">Remember me</label>
          </div>
          <a href="#" class="link-active">Forgot password?</a>
        </div>
        <button type="submit" class="btn-empty submit-btn" [disabled]="loginForm.invalid">Login</button>
      </form>
    </div>
    <div class="modal-footer">
      Don't have an account?
      <a class="link-active pl-03 pr-03" (click)="goToRegister()">Register</a>
      or
      <a class="link-active pl-03 pr-03" href="#">Verify</a>
    </div>
  </div>
</div>

<div class="modal-backdrop" (click)="close()"></div>