<div id="main-wrapper" class="layout-page">
  @if (anime) {
    <div class="container">
      <div class="cover-wrap">
        <div class="cover" [ngStyle]="{ 'background-image': 'url(' + anime.images.jpg.large_image_url + ')' }"></div>
      </div>
      <div class="content">

        <div class="prebreadcrumb">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a class="nav-link" href="home">Home</a>
              </li>
              <li class="breadcrumb-item">
                <a class="nav-link" [href]="anime.type | lowercase">{{ anime.type }}</a>
              </li>
              <li class="breadcrumb-item title">
                Watching {{ anime.title }}
              </li>
            </ol>
          </nav>
        </div>

        <div class="main">
          <section class="pagination">
            @if (episode) {
              <app-episode-pagination [animeId]="animeId"
                                      [route]="correctSlug"
                                      [currentEpisode]="episode.mal_id">
              </app-episode-pagination>
            } @else {
              <app-single-episode-pagination [route]="correctSlug"
                                             [title]="anime.title">
              </app-single-episode-pagination>
            }
          </section>
          <section class="player">
            <app-player></app-player>
          </section>
          <section class="details">
            <app-episode-details [poster_url]="anime.images.jpg.image_url"
                                  [title]="anime.title"
                                  [rating]="anime.rating"
                                  [episodes]="anime.episodes"
                                  [type]="anime.type"
                                  [duration]="anime.duration"
                                  [durationInSeconds]="episode?.duration"
                                  [synopsis]="episode?.synopsis || anime.synopsis"
                                  [score]="anime.score">
            </app-episode-details>   
          </section>
        </div>
      </div>
    </div>
  }
</div>
