.pagination-container {
  .header {
    background-color: #0D0D15;
    padding: 1rem;
  }

  .episodes {
    height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 15px;
    }
    
    &::-webkit-scrollbar-track {
      border-radius: 0;
      background-color: rgba(0, 0, 0, .2);
    }
    
    &::-webkit-scrollbar-thumb {
      border-radius: 0;
      background-color: rgba(255, 255, 255, .4);
    }

    .episode-item {
      display: flex;
      background-color: #201F2D;
      padding: 1rem;
      color: #ccc;
      border-left: 5px solid transparent;
      align-items: center;
  
      .number {
        padding-right: 1.5rem;
      }
  
      .title {
        width: 80%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
  
      .play-icon {
        display: flex;
        margin-left: auto;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: var(--secondary);
        justify-content: center;
        align-items: center;
  
        fa-icon {
          line-height: 1;
          margin-left: 1px;
          font-size: 10px;
          color: black;
        }
      }

      &:hover {
        background-color: #2B2A42;

        .number {
          color: var(--text);
        }

        .title {
          color: var(--secondary);
        }
      }
    }
  
    .episode-item.even {
      background-color: #191826;
    }

    .episode-item.current {
      background-color: #2B2A42;
      color: var(--secondary);
      border-left: 5px solid var(--secondary);

      &:hover {
        .number {
          color: unset;
        }
      }
    }
  }  
}