<div class="episode-pagination-container">
  <div class="header">
    List of episodes:
  </div>
  @if (episodes) {
    <div class="episodes">
      @for (item of episodes.data; track $index) {
        <a class="episode-item"
            [ngClass]="{'current': currentEpisode === item.mal_id, 'even' : $even }"
            [routerLink]="'/watch/'+ route"
            [queryParams]="{'ep': item.mal_id}"
            (click)="setCurrent(item.mal_id)"
            (mousemove)="popoverService.movePopover($event, item.title)"
            (mouseleave)="popoverService.removePopover()">
          <div class="number">{{ item.mal_id }}</div>
          <div class="title">{{ item.title }}</div>
          @if (currentEpisode === item.mal_id) {
            <div class="play-icon">
              <fa-icon [icon]="iplay"></fa-icon>
            </div>
          }
        </a>
      }
    </div>
  }
</div>