<div class="poster"
     [ngClass]="{'height-75': bigItem}"
     (mouseenter)="showPopover()"
     (mouseleave)="hidePopover()"
     #poster>
  @if (textBuilder.isForAdults(item.rating)) {
    <div class="rating">17+</div>
  }
  <img [src]="item.images.jpg.image_url" [alt]="item.title">
  <a [href]="item.url">
    <fa-icon [icon]="play"></fa-icon>
  </a>
</div>
<div class="details" [ngClass]="{'min-height-150': bigItem}">
  <h3 class="name">
    <a [href]="item.url">{{ item.title }}</a>
  </h3>
  @if (index < 4) {
    <div class="description">{{ item.synopsis }}</div>
  }
  <div class="info">
    <span class="type">{{ item.type }}</span>
    <span class="dot"></span>
    <span class="duration">{{ textBuilder.getDurationInMinutes(item.duration) }}</span>
  </div>
</div>

<div class="popover"
     [ngClass]="{'visible': popoverVisible}"
     [ngStyle]="{ left: popoverLeft + 'px', top: popoverTop + 'px' }"
     (mouseenter)="showPopover()"
     (mouseleave)="hidePopover()">
  <h3>Naruto: Shippuden</h3>
  <p>Some information about the anime...</p>
</div>