<div class="poster"
     [ngClass]="{'height-75': bigItem}"
     (mouseenter)="showPopover()"
     (mouseleave)="hidePopover()"
     #poster>
  @if (textBuilder.isForAdults(item.rating)) {
    <div class="rating"
         (mouseenter)="hidePopover()"
         (mouseleave)="showPopover()">17+</div>
  }
  <img [src]="item.images.jpg.image_url" [alt]="item.title">
  <a [href]="routeHelper.getSlugRoute(item)">
    <fa-icon [icon]="iplay"></fa-icon>
  </a>
</div>
<div class="details" [ngClass]="{'min-height-150': bigItem}">
  <h3 class="name">
    <a [href]="routeHelper.getSlugRoute(item)">{{ item.title }}</a>
  </h3>
  @if (bigItem) {
    <div class="description">{{ item.synopsis }}</div>
  }
  <div class="info">
    <span class="type">{{ item.type }}</span>
    <span class="dot"></span>
    <span class="duration">{{ textBuilder.getDurationInMinutes(item.duration) }}</span>
  </div>
</div>

<!-- TODO: Try to use ng-template and ng-container -->
<div class="popover"
     [ngClass]="{'visible': popoverVisible}"
     [ngStyle]="{ left: popoverLeft + 'px', top: popoverTop + 'px' }"
     (mouseenter)="holdPopover()"
     (mouseleave)="hidePopover()"
     #popover>
  <div class="content">
    <div class="title">
      {{ item.title }}
    </div>
    <div class="detail">
      <span class="score">
        <fa-icon [icon]="istar"></fa-icon>
        {{ item.score || 'N/a' }}
      </span>
      <span class="type">
        {{ item.type }}
      </span>
    </div>
    @if (item.synopsis) {
      <div class="description">
        {{ textBuilder.shortenDescription(item.synopsis) }}
      </div>
    }
    <div class="line">
      <span class="stick">Japanese:</span>
      <span class="stick-text">{{ item.title_japanese }}</span>
    </div>
    @if (item.title_synonyms.length !== 0) {
      <div class="line">
        <span class="stick">Synonyms:</span>
        @for (item of item.title_synonyms; track $index) {
          @if ($last) {
            <span class="stick-text">{{ item }}</span>
          } @else {
            <span class="stick-text">{{ item }}</span>, 
          }
        }
      </div>
    }
    <div class="line">
      <span class="stick">Aired:</span>
      <span class="stick-text">{{ textBuilder.formatDate(item.aired.from) }}</span>
    </div>
    <div class="line">
      <span class="stick">Status:</span>
      <span class="stick-text">{{ item.status }}</span>
    </div>
    @if (item.genres.length !== 0) {
      <div class="line">
        <span class="stick">Genres:</span>
        @for (item of item.genres; track $index) {
          @if ($last) {
            <a class="nav-link" href="">{{ item.name }}</a>
          } @else {
            <a class="nav-link" href="">{{ item.name }}</a>, 
          }
        }
      </div>
    }
    <div class="button">
      <a [href]="'watch' + routeHelper.getSlugRoute(item)">
        <fa-icon class="pr-03" [icon]="iplay"></fa-icon> Watch now
      </a>
    </div>
  </div>
</div>